In [14]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [15]:
df = pd.read_csv("D:\ML_LAB\Lab02-sanilshah01\\202518060_assignment_2\\assignment2\\books.csv")

df.head()

  availability   price rating                                  title
0     In stock  £51.77  Three                   A Light in the Attic
1     In stock  £53.74    One                     Tipping the Velvet
2     In stock  £50.10    One                             Soumission
3     In stock  £47.82   Four                          Sharp Objects
4     In stock  £54.23   Five  Sapiens: A Brief History of Humankind

In [16]:
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   availability  1000 non-null   object
 1   price         1000 non-null   object
 2   rating        1000 non-null   object
 3   title         1000 non-null   object
dtypes: object(4)
memory usage: 31.4+ KB

       availability   price rating                   title
count          1000    1000   1000                    1000
unique            1     903      5                     999
top        In stock  £37.34    One  The Star-Touched Queen
freq           1000       3    226                       2

In [17]:

df['price'] = df['price'].str.replace('£', '', regex=False).astype(float)

rating_map = {'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}
df['rating'] = df['rating'].map(rating_map)

df['title'] = df['title'].str.strip()
df['availability'] = df['availability'].str.strip()

print("Missing values per column:")
print(df.isnull().sum())

df['rating'] = df['rating'].fillna(0).astype(int)

df.head()

Missing values per column:
availability    0
price           0
rating          0
title           0
dtype: int64

  availability  price  rating                                  title
0     In stock  51.77       3                   A Light in the Attic
1     In stock  53.74       1                     Tipping the Velvet
2     In stock  50.10       1                             Soumission
3     In stock  47.82       4                          Sharp Objects
4     In stock  54.23       5  Sapiens: A Brief History of Humankind

In [18]:
df.to_csv("books_cleaned.csv", index=False)
print("Cleaned dataset saved as books_cleaned.csv")

Cleaned dataset saved as books_cleaned.csv